*{
	margin: 0;
	padding:0;
}
body{
	color : beige;
	font-family: arial;
}
.picture{
	width: 100vw;
	height:100vh;
	overflow: hidden;
}

.title{
	margin-bottom: 50px;
}
.list menu li{
	margin:25px 0;
	
}
.list_menu a{
	border-left: 2px solid grey;
	paddind-left: 5px ;
	transition: all 0.3s ease;
	color:beige;
}
.list_menu a:hover{
	border-left: 2px solid grey;
	paddind-left: 10px;
	transition: all 0.3s ease;
	color:black;
}

.menu{
	padding: 0vh 40px;
	position: fixed;
	background: rgba(157, 153, 149, 0.519);
	font-size:20px;
	border-right:5px solid;
	height: 80vh;
	backdrop-filter: blure(20px);
	color:beige;
}
	


.Photo{
	display: flex;
	justify-content: center;
}
.list_menu{
	color:beige;
}